<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="SignaturePaneWidthRatioPercent" value="38" />
    <add key="SignatureFieldName" value="Signature" />
    <add key="DateModifiedFieldName" value="DateModified" />
    <add key="SAPOLFieldName" value="SAPOLMarker" />
    <add key="TemporarySignature" value="c:\Temp" />
    <add key="LabelWidth" value="20" />
    <add key="SignatureBoxWidth" value="70" />
    <add key="SignatureBoxHeight" value="30" />
    <add key="StepGap" value="18" />
    <add key="LogFilePath" value="c:\temp\Logs" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="day" value="${date:format=dd}" />
    <variable name="month" value="${date:format=MM}" />
    <variable name="year" value="${date:format=yyyy}" />
    <variable name="verbose" value="${longdate} | ${level} | ${message} | ${exception:format=tostring,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
    <targets>
      <target name="logfile" 
              xsi:type="File" 
              fileName="${basedir}/Logs/statuslog.log" 
              layout="${verbose}" 
              archiveFileName="${basedir}/LogArchives/errorlog.{##}.log" 
              archiveEvery="Day" 
              archiveNumbering="Rolling" 
              maxArchiveFiles="31" 
              concurrentWrites="true" 
              keepFileOpen="false" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>